.swagger-section #header
{
    border-bottom: 1px solid Green;
    font-style: normal;
    font-weight: 400;
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    background-color: #ffffff;
    background-image: url('http://www.novecom.com.au/sites/default/files/header.png')
}

.logo__title {
color: cadetblue;

}

.swagger-section #header h1
{
    text-align: center;
    font-size: 20px;
    color: orange;
}
